.google_map_box {
  height: 550px;
  width: 500px;
  position: relative;
}
.google_maps {
  border: 1px black solid;
  height: 550px;
  width: 550px;
  position: absolute;
  left: 25px;
  /* transform: translateX(50%);  */
}
.cotent-holder {
  margin-top: 110px;
  display: flex;
  gap: 20px; /* Opcjonalnie: Odstęp między sekcjami */
  justify-content: center; /* Opcjonalnie: Centruje sekcje w kontenerze */
  align-items: flex-start; /* Wyrównuje sekcje do góry */}

#title_section {
  font-size: 40px;
}
.fist_part {
  font-weight: 600;
  margin: 5px 0 5px 5px;
  float: calc(50%);
}
.second_part {
  font-weight: 500;
  margin: 5px 0 5px 5px;
  font-style: italic;
}
#title {
  margin: 5px 0 5px 5px;
}
.input {
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 4px;
  border-style: solid;
  padding: 10px 20px;
  margin: 5px 0;
  color: gray;
}
.input_sumbit {
  background-color: #a34cbb;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.input_message {
  padding: 40px 20px;
}

.section {
  border: 1px solid black;
  font-size: 25px;
  height: auto;
  width: 600px;
}