.header_logo,
.header_logo_div {
  height: 100px;
  width: auto;
  transition: all 0.25s linear;
}
.header_logo_div {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  opacity: 90%;
  transition: all 0.25s linear;
}
.header_logo_div:hover {
  opacity: 100%;
}
#header_menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* lub inny kolor tła */
  border-bottom: 2px solid black;
}
.items_in_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.elements_in_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  opacity: 70%;
  transition: all 0.25s linear;
}
.elements_in_header:hover {
  opacity: 100%;
}

.text_under_icons {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  transition: all 0.25s linear;
}

.icons_in_header {
  height: 50px;
  width: 50px;
  transition: all 0.25s linear;
}

.text_under_icons_small {
  display: none;
  transition: all 0.25s linear;
}

.icons_in_header_small {
  height: 40px;
  width: 40px;
  transition: all 0.25s linear;
}

.items_in_header_small {
  gap: 70px;
  margin-top: 5px;
  transition: all 0.25s linear;
  margin-bottom: 10px;
}
.header_logo_small {
  height: 40px;
  width: auto;
  transition: all 0.25s linear;
}
@media (max-width: 625px) {
  .items_in_header {
    gap: 15px;
  }
  .items_in_header_small{
    gap: 50px
  }
}
@media (max-width: 560px) {
  .items_in_header {
    gap: 15px;
    /* transition: all 0.25s linear; */
  }
  .icons_in_header {
    height: 20px;
    width: 20px;
    /* transition: all 0.25s linear; */
  }
  .items_in_header_small{
    gap: 40px
  }
  .header_logo,
.header_logo_div {
  height: 50px;
  transition: all 0.25s linear;}
  .items_in_header_small{
    gap: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
@media(max-width: 500px){
  .items_in_header {
    gap: 15px;
    /* transition: all 0.25s linear; */
  }
  .icons_in_header {
    height: 20px;
    width: 20px;
    /* transition: all 0.25s linear; */
  }
  .items_in_header_small{
    gap: 40px
  }
  .header_logo,
.header_logo_div {
  height: 50px;
  transition: all 0.25s linear;}
  .items_in_header_small{
    gap: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}